body {
  align-items: center;
  background: transparent;
  display: flex;
  height: fit-content;
  justify-content: center;
  margin: 0;
  padding: 4rem;
  width: fit-content;
}

.pill {
  align-items: center;
  background: #1a263e;
  border: 10px solid #eae4ff;
  border-radius: 10rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: fit-content;
  justify-content: center;
  padding: 1rem 3rem;
  position: relative;
  width: fit-content;
}

.label {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  text-shadow: 0 0 5px #4dd0f8b3;
}

.number {
  background: radial-gradient(circle at center, #ffacff 50%, #1a263e 100%);
  border: 8px solid #e8e8e8;
  border-radius: 5rem;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  height: fit-content;
  padding: 0.5rem 3rem;
  text-shadow: 0 0 10px #d969c5;
  width: fit-content;
  z-index: 1;
}